# Gitaly configuration file
# This file is managed by gitlab-ctl. Manual changes will be
# erased! To change the contents below, edit /etc/gitlab/gitlab.rb
# and run:
# sudo gitlab-ctl reconfigure

socket_path = '<%= @socket_path %>'

<% if @listen_addr %>
# Optional: listen on a TCP socket. This is insecure (no authentication)
listen_addr = '<%= @listen_addr %>'
<% end %>

<% if @prometheus_listen_addr %>
# Optional: export metrics via Prometheus
prometheus_listen_addr = '<%= @prometheus_listen_addr %>'
<% end %>

<% @storage.each do |shard| %>
[[storage]]
<% if shard.has_key?('name') %>
name = '<%= shard['name'] %>'
<% end %>
<% if shard.has_key?('path') %>
path = '<%= shard['path'] %>'
<% end %>
<% end %>

[logging]
<% if @logging_format %>
format = '<%= @logging_format %>'
<% end %>
<% if @sentry_dns %>
sentry_dns = '<%= @sentry_dns %>'
<% end %>

<% if @grpc_latency_buckets %>
# # You can optionally configure Gitaly to record histogram latencies on GRPC method calls
[prometheus]
grpc_latency_buckets = <%= @grpc_latency_buckets %>
<% end %>
